/*PAGE ELEMENTS*/
/*HEADER & HEADINGS*/
body{
	background-color: #ADE5F0;
	margin: 4%;
	padding: 2px;
}

header{
	background-color: #ADE5F0;
	background-image: url("https://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
	padding: 1px;
	border: 2px solid #ffffff;
}


/*NAVIGATION BAR*/
nav{
	background-color: transparent;
	width: 100%;
	font-variant: small-caps;
	font-family: helvetica;
	font-size: 100%;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	padding: 1px;
	margin-bottom: 4px;
}

.active{	
	color: #ffffff;
	background-color: #63B7BA;
	border: 2px dotted #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}

nav a:link{
	background-color: #545BC9;
	color: #ffffff;
	font-size: 75%;
	display: inline-block;
	width: 22%;
	border: 2px dotted #ffffff;
	text-decoration: none;
	padding: 2px;
}

nav a:visited{
	font-size: 75%;
	display: inline-block;
	background-color: #A5CDCE;
	color: #004F52;
	width: 22%;
	border: 2px dotted #0A006A;
	text-decoration: none;
	padding:2px;
}

nav a:hover{
	font-size: 75%;
	display: inline-block;
	background-color: #ffffff;
	color: #0A006A;
	width: 22%;
	border: 2px dotted #0A006A;
	text-decoration: none;
	padding:2px;
}


/*HEADINGS*/
h1{
	color: #ffffff;
	font-family:  helvetica;
	text-transform: uppercase;
	background-color: transparent;
	text-align: center;
}

h2{
	color: #004E5D;
	font-style: italic;
	font-family: georgia;
	text-transform: small-caps;

}

section{
}

/*LINKS & IMGS*/

a{
	color: #ffffff;
	background-color: #004054;
	text-align: center;
}
a:hover{
	color: #004257;
	background-color: #84ABB7;
	text-align: center;
}

img{
	display: none;
}