/* PREFIXES FOR PROPERTIES THAT MAY NOT WORK ON EVREY BROWSER


section{
	
	width:100%;

	-webkit-column-count: 3;
	-moz-column-count: 3;
	-o-column-count: 3;
	column-count: 3;

	-webkit-column-gap: 10%;
	-moz-column-gap: 10%;
	-o-column-gap: 10%;
	column-gap: 10%;

	background-color: #0C9ED5;
	background: -moz-linear-gradient(top, #00b7ea 0%, #D4E4E8 100%);
	background:-webkit-linear-gradient(top, #00b7ea 0%, #D4E4E8 100%);
	background:-o-linear-gradient(top, #00b7ea 0%, #D4E4E8 100%);
	background:linear-gradient(top, #00b7ea 0%, #D4E4E8 100%);
	
}
*/